dist
node_modules
.idea
package-lock.json
out
export
*.js
*.d.ts
dev.patch
.scannerwork
certs
update.key
docs
coverage
data
!jest.config.js
/openapi.yml
.npmrc
*.tgz
swagger.html
/openapi.json
gen
src/tests/openapi.json
/junit.xml
src/tests/run2.ts
src/tests/testSpecs/
/res/templates/class/BaseCon.ts
/res/templates/class/NodeCon.ts
/res/templates/class/FetchCon.ts
/res/templates/class/ApiTypes.ts
